@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 160 14% 95%;
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 166 46% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 160 10% 90%;
    --secondary-foreground: 240 6% 10%;
    --muted: 160 10% 88%;
    --muted-foreground: 240 4% 46%;
    --accent: 98 22% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 160 10% 85%;
    --input: 160 10% 85%;
    --ring: 166 46% 58%;
    --chart-1: 166 46% 58%;
    --chart-2: 98 22% 51%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 166 46% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 160 14% 95%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 160 10% 85%;
    --sidebar-ring: 166 46% 58%;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 166 46% 62%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 98 22% 51%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 166 46% 62%;
    --sidebar-background: 240 6% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 166 46% 62%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 16%;
    --sidebar-ring: 166 46% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
